/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* misc */

body {
  background-color: #e4f9f5;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h2 {
  color: #519999;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

.brief {
  padding-top: 1%;
}

.justify {
  text-align: justify;
  padding-top: 2%;
}

.pro {
  text-decoration: underline;
}

/* for the favicon link */
.foot {
  position: absolute;
  color: lightgray;
  width: 100%;
  text-align: center;
  font-size: 6px;
}

.explore-footer {
  position: absolute;
  width: 100%;
  color: #519999;
  font-size: 2em;
  margin-top: 2%;
}

.copyright {
  margin-top: 2%;
  color: black;
  font-size: .5em;
}

/* navigation */

.nav-wrapper {
  display: inline-block;
  position: relative;
  width: 80vw;
  height: 80vh;
  text-align: center;
}

.nav-card {
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 5%;
  border: black 2px solid;
  width: 40%;
  height: 15%;
  margin-top: 2%;
}

.links {
  font-size: 2em;
}

/* index */

.greeting-wrapper {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 80vw;
}

.mainh1 {
  position: relative;
  color: #519999;
  font-size: 2.5em;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  top: 15%;
}

.mountain {
  position: absolute;
  bottom: 15%;
  width: 598px;
  height: 357px;
  right: 50%;
  margin-right: -299px;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  top: 40%;
}

.binoculars {
  padding-top: 1%;
}

/* hello */

.hello-wrapper {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 80vw;
}

.img-computer {
  position: absolute;
  right: 50%;
  margin-right: -64px;
  margin-left: 0;
  top: 20%;
}

.hello-text-container {
  position: absolute;
  top: 45%;
  width: 100%;
}

/* skills */

.skills-wrapper {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 80vw;
}

.skills-h2 {
  position: absolute;
  top: 5%;
  width: 100%;
}

.img-sql {
  position: absolute;
  display: inline-block;
  right: 50%;
  margin-right: -64px;
  top: 15%;
}

.skills-text-container-one {
  position: absolute;
  top: 35%;
  width: 100%;
}

.img-web {
  position: absolute;
  display: inline-block;
  right: 50%;
  margin-right: -64px;
  top: 49%;
}

.skills-text-container-two {
  position: absolute;
  top: 70%;
  width: 100%;
}

/* contact me */

.contact-me {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 80vw;
}

.contact-me-text-container {
  position: absolute;
  top: 60%;
  width: 100%;
}

.rayguitar {
  position: absolute;
  display: inline-block;
  right: 50%;
  margin-right: -89.5px;
  top: 5%;
  border: black solid;
}

.contact-me-h2 {
  position: absolute;
  top: 50%;
  width: 100%;
}

.contact-container {
  width: 100%;
  margin-bottom: 2%;
}

footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 2%;
}