/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #e4f9f5;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.greeting-wrapper {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 80vw;
}

.profile-wrapper,
.skills-wrapper,
.contact-me {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 80vw;
}

.mainh1 {
  position: relative;
  color: #519999;
  font-size: 2.5em;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  top: 15%;
}

h2 {
  color: #519999;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

.pro {
  text-decoration: underline;
}

.hr {
  background-color: white;
  border-style: none;
  height: 2px;
  width: 100px;
}

.profile-wrapperpg1,
.profile-wrapperpg2,
.profile-wrapperpg3 {
  position: absolute;
  top: 27%;
  width: 750px;
  height: 50%;
  right: 50%;
  margin-right: -375px;
}

.mountain {
  position: absolute;
  bottom: 15%;
  width: 598px;
  height: 357px;
  right: 50%;
  margin-right: -299px;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  top: 40%;
}

#rayguitar {
  border: black solid;
}

.foot {
  font-size: 6px;
}

.btn {
  text-align: center;
}

.footer-link {
  text-align: center;
}
