body {
  background-color: #e4f9f5;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  position: relative;
  margin-top: 5%;
  font-family: 'Sacramento', cursive;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: center;
}

hr {
  position: relative;
}

.custom-hr {
  position: relative;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 4%;
  top: 100px;
}

.image-monitor {
  padding: 50px;
}

.parent-1 {
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

.child-1 {
  background-color: pink;
  height: 70%;
  width: 55%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.parent-2 {
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

.child-2 {
  background-color: pink;
  height: 35%;
  width: 55%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.parent-3 {
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

.child-3 {
  background-color: pink;
  height: 70%;
  width: 55%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.parent-4 {
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

.child-4 {
  background-color: pink;
  height: 70%;
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pro {
  text-decoration: underline;
}

.img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.mountain {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.top-cloud {
  position: absolute;
  right: 0;
  top: 15%;
  bottom: 0;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
  top: 25%;
  bottom: 0;
}

.RayGuitar {
  border-style: solid;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  font-size: 6px;
}

.btn {
  text-align: center;
  display: block;
}

.footer-link {
  text-align: center;
  display: block;
}
